/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  padding: 0 2rem;
}
.tic-tac-toe-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  grid-auto-rows: 1fr;
  height: 50vh;
  background-color: #2196F3;
}

.tic-tac-toe-grid .cell {
  padding: 2rem;
  background-color: white;
  font-size: 3rem;
  text-align: center;
}

.tic-tac-toe-grid .cell--selected {
  opacity: 0.85;
}

.tic-tac-toe-grid .cell input[type='radio'] {
  display: none;
}

h1 {
  padding: 1rem;
}

h1.winner {
  color: #0F5132;
  background-color: #D1E7DD;
}

h1.current-player {
  color: #141619;
  background-color: #D3D3D4;
}

h1.tie {
  color: #664D03;
  background-color: #FFF3CD;
}
